<div class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" routerLink="/homepage">KROMME</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/homepage">News <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/homepage">About Us <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button class="btn btn-outline-success my-2 my-sm-0" routerLink="/login" type="submit">Login</button>
    </form>
  </div>
</div>

<div style="height: 300px" class="jumbotron">
  <div class="text-center" style="padding: 3%">
    <h1>Welcome to KROMME!</h1>
    <p class="lead">We are students who do stuff.. XP</p>
  </div>
</div>

<div style="height: 500px" class="">
  <div class="text-center" style="padding: 3%">
    <h1>Say something..</h1>
    <p class="lead">Something..? XP</p>
  </div>
</div>

<div class="text-center bg-dark text-light" style="height: 50px; padding: 3%">
  <h6>
    Something for footer, KROMME 2018
    <fa-icon [icon]="faCoffee"></fa-icon>
  </h6>
</div>
