<div class="text-center container" style="height: 800px">
  <div class="row justify-content-md-center align-items-center h-100">
    <div class="col-md-4">
      <form class="">
        <h1 class="h3 mb-3 font-weight-normal">Sign up here!</h1>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="" type="email">
        <label for="inputPassword" class="sr-only">Password</label>
        <input id="inputPassword" class="form-control" placeholder="Password" required="" type="password">
        <br>
        <button class="btn btn-lg btn-primary btn-block" routerLink="/dashboard" type="submit">Sign up</button>
        <p class="mt-5 mb-3 text-muted">KROMME 2018</p>
      </form>
    </div>
  </div>
</div>
